<style>
  .message_container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 600px;
    line-height: 24px;
  }
</style>


<div class="message_container">
  <h1>Recuperação de senha</h1>
  <p>Olá, {{name}}! Você solicitou a recuperação de sua senha.</p>
  <p>Para prosseguir, clique no link abaixo:</p>
  <a href="{{link}}">Recuperar senha</a>
  <p>Se você não solicitou essa recuperação, ignore este e-mail.</p>
  <p>Atenciosamente,</p>
  <p>Equipe de Vendas</p>
  <p>Este é um e-mail automático, por favor não responda.</p>
</div>
